In [58]:
import pandas as pd

data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Sales'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

df = pd.DataFrame(data)

In [59]:
# DATA EXPLORATION.
# Display the first 3 rows of the DataFrame.
df.head(3)

   EmployeeID     Name Department  Salary
0         101    Alice         HR   60000
1         102      Bob         IT   75000
2         103  Charlie    Finance   80000

In [60]:
# Check the summary statistics for the 'Salary' column.
df['Salary'].describe()

count        5.00000
mean     70000.00000
std       7905.69415
min      60000.00000
25%      65000.00000
50%      70000.00000
75%      75000.00000
max      80000.00000
Name: Salary, dtype: float64

In [61]:
# Determine the number of employees in each department.
df.groupby('Department')['EmployeeID'].count()

Department
Finance      1
HR           1
IT           1
Marketing    1
Sales        1
Name: EmployeeID, dtype: int64

In [62]:
# DATA ANALYSIS.
print("Calculate and display the average salary of employees.")
df['Salary'].sum() / df['Salary'].count()

Calculate and display the average salary of employees.

70000.0

In [63]:
# Identify the employee(s) with the highest salary and their details.
df[df['Salary'] == df['Salary'].max()]

   EmployeeID     Name Department  Salary
2         103  Charlie    Finance   80000

In [68]:
# Determine the department with the lowest average salary.
average_salaries_per_department = df.groupby('Department')['Salary'].mean()
df[df['Salary'] == average_salaries_per_department.min()].groupby('Department')['Salary'].mean()

# '''
#     SELECT MIN('department')
#     FROM (
#         SELECT 'department', AVG('salary')
#         FROM df
#         GROUP BY 'department'
#     )
#     GROUP BY 'department';
# '''

Department
HR    60000.0
Name: Salary, dtype: float64

In [65]:
# Add a new column 'Salary Increase' to the DataFrame, where each employee's salary is increased by 10%.
df['Salary Increase'] = [salary * 1.10 for salary in data['Salary']]